[Unit]
Description=GStreamer Daemon
StartLimitBurst=3
StartLimitIntervalSec=30

[Service]
Restart=on-failure
RestartSec=5s
ExecStartPre=/usr/lib/systemd/user/gstd-check-user-xenv.sh
ExecStart=/usr/local/bin/gstd

[Install]
WantedBy=default.target
