\#*
*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
m4/*
gstd/gstd
*.o
*.la
*.lo
*.dSYM/
*.log
*.trs
test-driver
.dirstamp
stamp-h1
docs/gtk-doc.make
gtk-doc.m4
gtk-doc.make
libtool.orig
gst_client/gst-client-1.0
.clang_complete
__pycache__
autoregen.sh

# debian files
*.deb
*.build
*.buildinfo
*.changes
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
debian/*.postinst.debhelper
debian/*.postrm.debhelper
debian/*.prerm.debhelper
debian/*.substvars
debian/gstd/
debian/pygstc/
debian/tmp

# python build
build/
.pybuild/
*egg-info/
libgstc/python/dist/

# Init
init/gstd
init/gstd.service

# Tests
tests/gstd/test_gstd_no_create
tests/gstd/test_gstd_pipeline_create
tests/gstd/test_gstd_state
tests/libgstc/c/libgstc*
tests/libgstd/test_libgstd_create
tests/libgstd/test_libgstd_delete
tests/libgstd/test_libgstd_init
tests/libgstd/test_libgstd_read
tests/libgstd/test_libgstd_update

# Examples
examples/libgstc/simple_pipeline
examples/libgstc/dynamic_property_change
examples/libgstc/mp4_recording
examples/libgstc/gapless_playback
