\#*
*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
m4/*
gstd/gstd
*.o
*.la
*.lo
*.dSYM/
*.log
*.trs
test-driver
.dirstamp
stamp-h1
docs/gtk-doc.make
gtk-doc.m4
libtool.orig
gst_client/gst-client-1.0
.clang_complete

# Tests
tests/gstd/test_gstd_no_create
tests/gstd/test_gstd_pipeline_create
tests/gstd/test_gstd_state
tests/libgstc/libgstc_client
tests/libgstc/libgstc_pipeline_create
tests/libgstc/libgstc_pipeline_delete
tests/libgstc/libgstc_ping
tests/libgstc/libgstc_pipeline_play
tests/libgstc/libgstc_pipeline_pause
tests/libgstc/libgstc_pipeline_stop
tests/libgstc/libgstc_json
tests/libgstc/libgstc_socket

# Examples
examples/libgstc/simple_pipeline