\#*
*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
m4/*
gstd/gstd
*.o
*.la
*.lo
*.log
*.trs
test-driver
.dirstamp
stamp-h1
